[build]
  command = "npm install --prefix backend && npm install --prefix frontend && CI=false npm run build --prefix frontend"
  publish = "frontend/build"
  functions = "functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["mongoose", "bcryptjs"]

# Redirect API calls to the function
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

# Handle React Router (SPA)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
