.customSignup::-webkit-scrollbar {
    width: 4px;
}

.customSignup::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.customSignup::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Override Autocomplete background styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0);
}